.env
venv/
__pycache__
casino_bonus.db
user_profiles.json
web_data.db
web/*.db

# .gitignore for chrome data
.runtime/
chrome-profile/
**/User Data/
**/Default/
**/Cookies
**/Login Data*
**/Web Data*
**/History*
!web/templates/history.html
